.card {
  margin-top: 2em;
  padding: 2em 1em 1em 1em;
  border-left: 5px solid var(--dark-cyan);
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 8px 8px hsl(180 29% 50% / 0.3);

  &__header {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__img {
    position: absolute;
    top: -2em;
    max-width: 15%;
    transform: translateY(-50%);
  }

  &__title {
    margin: 0 20px 0 0;
    font-size: 0.8rem;
    color: var(--dark-cyan);
  }

  &__label {
    display: flex;
    align-items: center;
    height: 20px;
    margin-right: 10px;
    padding: 2px 8px 0;
    border-radius: 20px;
    font-size: 0.5rem;
    color: #fff;
    background-color: var(--dark-cyan);
    font-weight: 700;

    &--black {
      background-color: var(--very-dark-grayish-cyan);
    }
  }

  &__body {
    padding: 1em 0;
    border-bottom: 1px solid var(--dark-grayish-cyan);
  }

  &__position {
    font-size: 0.8rem;
    color: var(--very-dark-grayish-cyan);
    font-weight: 700;
  }

  &__job-info {
    position: relative;
    margin-right: 15px;
    font-size: 0.7rem;
    color: var(--dark-grayish-cyan);

    &:not(:first-of-type)::before {
      content: '·';
      position: absolute;
      left: -12px;
      top: -8px;
      font-size: 1.4rem;
      filter: blur(1px);
    }
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 75%;
    padding: 1em 0;
    font-size: 0.7rem;
    color: var(--dark-cyan);
  }

  &--hide {
    display: none;
  }
}
