.tag {
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin: 0.5em;
  padding: 0.5em;
  font-weight: 700;
  background-color: var(--bg-color);

  &--with-close {
    padding: 0 0 0 0.7em;
  }

  &__close {
    display: flex;
    align-items: center;
    margin-left: 0.5em;
    border-radius: 0 5px 5px 0;
    padding: 0.5em;
    background-color: var(--dark-cyan);
  }
}
