include mixins/article
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="css/styles-dist.css")
    title Static job listing
  body
    header.header
    main#main.main
      #filter.filter
        .filter__clear Clear

    script(src="js/scripts-dist.js")
